In [1]:
import pandas as pd
import json

# 1.处理inter

In [2]:
name = "movie"

train_path = f"../../resource/{name}/{name}_ft.json"
test_path = f"../../resource/{name}/{name}_pd.json"

w_train_path = f"../../llm/{name}/{name}_ft.json"
w_test_path = f"../../llm/{name}{name}_pd.json"

In [3]:
# 读数据
inter_data = pd.read_csv(inter_path, sep="\t").sort_values(by=['user_id:token', 'timestamp:float'], ascending=[True, True])
user_data = pd.read_csv(user_path, sep="\t").sort_values(by=['user_id:token'], ascending=[True])
item_data = pd.read_csv(item_path, sep="\t").sort_values(by=['item_id:token'], ascending=[True])
inter_data,user_data,item_data

(       user_id:token  item_id:token  rating:float  timestamp:float
 59972              1            168             5        874965478
 92487              1            172             5        874965478
 74577              1            165             5        874965518
 48214              1            156             4        874965556
 15764              1            196             5        874965677
 ...              ...            ...           ...              ...
 93377            943            449             1        888693158
 94914            943            229             2        888693158
 95003            943            230             1        888693158
 95291            943            228             3        888693158
 92880            943            234             3        888693184

 [100000 rows x 4 columns],
      user_id:token  age:token gender:token occupation:token zip_code:token
 0                1         24            M       technician          85711
 1                2         53            F            other          94043
 2                3         23            M           writer          32067
 3                4         24            M       technician          43537
 4                5         33            F            other          15213
 ..             ...        ...          ...              ...            ...
 938            939         26            F          student          33319
 939            940         32            M    administrator          02215
 940            941         20            M          student          97229
 941            942         48            F        librarian          78209
 942            943         22            M          student          77841

 [943 rows x 5 columns],
       item_id:token               movie_title:token_seq release_year:token  \
 0                 1                           Toy Story               1995
 1                 2                           GoldenEye               1995
 2                 3                          Four Rooms               1995
 3                 4                          Get Shorty               1995
 4                 5                             Copycat               1995
 ...             ...                                 ...                ...
 1677           1678                          Mat' i syn               1997
 1678           1679                           B. Monkey               1998
 1679           1680                       Sliding Doors               1998
 1680           1681                        You So Crazy               1994
 1681           1682  Scream of Stone (Schrei aus Stein)               1991

                   class:token_seq
 0     Animation Children's Comedy
 1       Action Adventure Thriller
 2                        Thriller
 3             Action Comedy Drama
 4            Crime Drama Thriller
 ...                           ...
 1677                        Drama
 1678             Romance Thriller
 1679                Drama Romance
 1680                       Comedy
 1681                        Drama

 [1682 rows x 4 columns])

In [4]:
# 分组&聚合
data_new = inter_data
data_u = data_new.groupby(['user_id:token']).count()
data_u["count"] = data_u["item_id:token"]
# data_u = data_u.drop(['item_id:token','num_repeat:float','timestamp:float'], axis=1)

# 筛选=>10 core
data_u = data_u[data_u["count"] >= 10]

# 按user_id筛选
inter_data = data_new[data_new["user_id:token"].isin(data_u.index)]
inter_data

       user_id:token  item_id:token  rating:float  timestamp:float
59972              1            168             5        874965478
92487              1            172             5        874965478
74577              1            165             5        874965518
48214              1            156             4        874965556
15764              1            196             5        874965677
...              ...            ...           ...              ...
93377            943            449             1        888693158
94914            943            229             2        888693158
95003            943            230             1        888693158
95291            943            228             3        888693158
92880            943            234             3        888693184

[100000 rows x 4 columns]

In [5]:
# 按user_id分组，并将其他字段存为列表
inter_data = inter_data.groupby('user_id:token').agg(list).reset_index()
inter_data

,user_id:token,item_id:token,rating:float,timestamp:float
0,1,"[168, 172, 165, 156, 196, 166, 187, 14, 250, 1...","[5, 5, 5, 4, 5, 5, 4, 5, 4, 5, 3, 5, 5, 5, 5, ...","[874965478, 874965478, 874965518, 874965556, 8..."
1,2,"[286, 258, 305, 307, 288, 312, 301, 292, 303, ...","[4, 3, 3, 3, 3, 3, 4, 4, 4, 1, 4, 4, 4, 4, 3, ...","[888549960, 888549961, 888550065, 888550066, 8..."
2,3,"[300, 302, 333, 344, 268, 337, 303, 345, 354, ...","[2, 2, 2, 4, 3, 1, 3, 3, 3, 2, 2, 2, 1, 2, 2, ...","[889236939, 889236939, 889236939, 889236939, 8..."
3,4,"[258, 288, 300, 328, 271, 303, 329, 327, 359, ...","[5, 4, 5, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...","[892001374, 892001445, 892001445, 892001537, 8..."
4,5,"[267, 222, 455, 121, 363, 405, 257, 250, 25, 2...","[4, 4, 4, 4, 3, 3, 5, 3, 3, 3, 5, 5, 1, 4, 3, ...","[875635064, 875635174, 875635174, 875635189, 8..."
...,...,...,...,...
938,939,"[689, 326, 890, 266, 680, 258, 127, 9, 257, 27...","[5, 5, 2, 2, 2, 4, 5, 5, 5, 4, 4, 5, 5, 5, 5, ...","[880260636, 880260636, 880260636, 880260636, 8..."
939,940,"[286, 319, 310, 683, 301, 347, 271, 264, 315, ...","[3, 2, 3, 3, 3, 3, 2, 1, 4, 3, 3, 1, 2, 4, 5, ...","[884800898, 884800944, 884800966, 884800988, 8..."
940,941,"[258, 300, 294, 358, 117, 408, 181, 298, 919, ...","[4, 4, 4, 2, 5, 5, 5, 5, 5, 4, 4, 5, 4, 3, 4, ...","[875048495, 875048495, 875048532, 875048581, 8..."
941,942,"[315, 750, 347, 313, 269, 310, 362, 272, 258, ...","[4, 4, 5, 3, 2, 4, 3, 5, 4, 5, 4, 3, 3, 4, 5, ...","[891282355, 891282355, 891282396, 891282396, 8..."
942,943,"[64, 181, 28, 174, 100, 1067, 127, 508, 763, 5...","[5, 4, 4, 4, 5, 2, 5, 5, 4, 4, 2, 5, 4, 3, 3, ...","[875409939, 875409978, 875409978, 875410099, 8..."

In [6]:
# 拼接用户信息 json
gender=dict({'M':'male','F':'female'})
user_data['info'] = user_data.apply(lambda row: dict({"user_id":str(row["user_id:token"]),"age":str(row["age:token"]),"gender":gender[row["gender:token"]],"occupation":row["occupation:token"],"zip_code":row["zip_code:token"]}), axis=1)
user_data['info'].iloc[0]

{'user_id': '1',
 'age': '24',
 'gender': 'male',
 'occupation': 'technician',
 'zip_code': '85711'}

In [7]:
inter_data

,user_id:token,item_id:token,rating:float,timestamp:float
0,1,"[168, 172, 165, 156, 196, 166, 187, 14, 250, 1...","[5, 5, 5, 4, 5, 5, 4, 5, 4, 5, 3, 5, 5, 5, 5, ...","[874965478, 874965478, 874965518, 874965556, 8..."
1,2,"[286, 258, 305, 307, 288, 312, 301, 292, 303, ...","[4, 3, 3, 3, 3, 3, 4, 4, 4, 1, 4, 4, 4, 4, 3, ...","[888549960, 888549961, 888550065, 888550066, 8..."
2,3,"[300, 302, 333, 344, 268, 337, 303, 345, 354, ...","[2, 2, 2, 4, 3, 1, 3, 3, 3, 2, 2, 2, 1, 2, 2, ...","[889236939, 889236939, 889236939, 889236939, 8..."
3,4,"[258, 288, 300, 328, 271, 303, 329, 327, 359, ...","[5, 4, 5, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...","[892001374, 892001445, 892001445, 892001537, 8..."
4,5,"[267, 222, 455, 121, 363, 405, 257, 250, 25, 2...","[4, 4, 4, 4, 3, 3, 5, 3, 3, 3, 5, 5, 1, 4, 3, ...","[875635064, 875635174, 875635174, 875635189, 8..."
...,...,...,...,...
938,939,"[689, 326, 890, 266, 680, 258, 127, 9, 257, 27...","[5, 5, 2, 2, 2, 4, 5, 5, 5, 4, 4, 5, 5, 5, 5, ...","[880260636, 880260636, 880260636, 880260636, 8..."
939,940,"[286, 319, 310, 683, 301, 347, 271, 264, 315, ...","[3, 2, 3, 3, 3, 3, 2, 1, 4, 3, 3, 1, 2, 4, 5, ...","[884800898, 884800944, 884800966, 884800988, 8..."
940,941,"[258, 300, 294, 358, 117, 408, 181, 298, 919, ...","[4, 4, 4, 2, 5, 5, 5, 5, 5, 4, 4, 5, 4, 3, 4, ...","[875048495, 875048495, 875048532, 875048581, 8..."
941,942,"[315, 750, 347, 313, 269, 310, 362, 272, 258, ...","[4, 4, 5, 3, 2, 4, 3, 5, 4, 5, 4, 3, 3, 4, 5, ...","[891282355, 891282355, 891282396, 891282396, 8..."
942,943,"[64, 181, 28, 174, 100, 1067, 127, 508, 763, 5...","[5, 4, 4, 4, 5, 2, 5, 5, 4, 4, 2, 5, 4, 3, 3, ...","[875409939, 875409978, 875409978, 875410099, 8..."

In [8]:
user_data

,user_id:token,age:token,gender:token,occupation:token,zip_code:token,info
0,1,24,M,technician,85711,"{'user_id': '1', 'age': '24', 'gender': 'male'..."
1,2,53,F,other,94043,"{'user_id': '2', 'age': '53', 'gender': 'femal..."
2,3,23,M,writer,32067,"{'user_id': '3', 'age': '23', 'gender': 'male'..."
3,4,24,M,technician,43537,"{'user_id': '4', 'age': '24', 'gender': 'male'..."
4,5,33,F,other,15213,"{'user_id': '5', 'age': '33', 'gender': 'femal..."
...,...,...,...,...,...,...
938,939,26,F,student,33319,"{'user_id': '939', 'age': '26', 'gender': 'fem..."
939,940,32,M,administrator,02215,"{'user_id': '940', 'age': '32', 'gender': 'mal..."
940,941,20,M,student,97229,"{'user_id': '941', 'age': '20', 'gender': 'mal..."
941,942,48,F,librarian,78209,"{'user_id': '942', 'age': '48', 'gender': 'fem..."
942,943,22,M,student,77841,"{'user_id': '943', 'age': '22', 'gender': 'mal..."

In [9]:
# 拼接user信息, json
gender = dict({'M':'male','F':'female'})
user_data['info'] = user_data.apply(lambda row: dict({"user_id":row["user_id:token"],"age":row["age:token"],"gender":gender[row["gender:token"]],"occupation":row["gender:token"],"zip_code":row["zip_code:token"]}), axis=1)
user_data['info'].iloc[0]

{'user_id': 1,
 'age': 24,
 'gender': 'male',
 'occupation': 'M',
 'zip_code': '85711'}

In [10]:
item_data

,item_id:token,movie_title:token_seq,release_year:token,class:token_seq
0,1,Toy Story,1995,Animation Children's Comedy
1,2,GoldenEye,1995,Action Adventure Thriller
2,3,Four Rooms,1995,Thriller
3,4,Get Shorty,1995,Action Comedy Drama
4,5,Copycat,1995,Crime Drama Thriller
...,...,...,...,...
1677,1678,Mat' i syn,1997,Drama
1678,1679,B. Monkey,1998,Romance Thriller
1679,1680,Sliding Doors,1998,Drama Romance
1680,1681,You So Crazy,1994,Comedy
1681,1682,Scream of Stone (Schrei aus Stein),1991,Drama

In [11]:
# 拼接item信息, json
item_data['info'] = item_data.apply(lambda row: dict({"item_id":row["item_id:token"],"movie_title":row["movie_title:token_seq"],"release_year":row["release_year:token"],"classification":row["class:token_seq"],"rating":-1}), axis=1)
item_data['info'].iloc[0]

{'item_id': 1,
 'movie_title': 'Toy Story',
 'release_year': '1995',
 'classification': "Animation Children's Comedy",
 'rating': -1}

In [12]:
def build_item(i,r):
    item = (item_data[item_data['item_id:token'] == i]['info'].iloc[0])
    item['rating'] = r
    return item

In [13]:
def build_inter(row):
    user = user_data[user_data['user_id:token'] == row['user_id:token']]['info'].iloc[0]
    items = [build_item(i,r) for i,r in zip(row['item_id:token'],row['rating:float'])]
    val = dict({'user':user,'items':items})
    return val

In [14]:
# 拼接inter信息, json
inter_data['info'] = inter_data.apply(lambda row: build_inter(row), axis=1)
inter_data['info'].iloc[0]

{'user': {'user_id': 1,
  'age': 24,
  'gender': 'male',
  'occupation': 'M',
  'zip_code': '85711'},
 'items': [{'item_id': 168,
   'movie_title': 'Monty Python and the Holy Grail',
   'release_year': '1974',
   'classification': 'Comedy',
   'rating': 2},
  {'item_id': 172,
   'movie_title': 'Empire Strikes Back, The',
   'release_year': '1980',
   'classification': 'Action Adventure Drama Romance Sci-Fi War',
   'rating': 4},
  {'item_id': 165,
   'movie_title': 'Jean de Florette',
   'release_year': '1986',
   'classification': 'Drama',
   'rating': 4},
  {'item_id': 156,
   'movie_title': 'Reservoir Dogs',
   'release_year': '1992',
   'classification': 'Crime Thriller',
   'rating': 3},
  {'item_id': 196,
   'movie_title': 'Dead Poets Society',
   'release_year': '1989',
   'classification': 'Drama',
   'rating': 5},
  {'item_id': 166,
   'movie_title': 'Manon of the Spring (Manon des sources)',
   'release_year': '1986',
   'classification': 'Drama',
   'rating': 3},
  {'item_id': 187,
   'movie_title': 'Godfather: Part II, The',
   'release_year': '1974',
   'classification': 'Action Crime Drama',
   'rating': 5},
  {'item_id': 14,
   'movie_title': 'Postino, Il',
   'release_year': '1994',
   'classification': 'Drama Romance',
   'rating': 3},
  {'item_id': 250,
   'movie_title': 'Fifth Element, The',
   'release_year': '1997',
   'classification': 'Action Sci-Fi',
   'rating': 3},
  {'item_id': 127,
   'movie_title': 'Godfather, The',
   'release_year': '1972',
   'classification': 'Action Crime Drama',
   'rating': 5},
  {'item_id': 117,
   'movie_title': 'Rock, The',
   'release_year': '1996',
   'classification': 'Action Adventure Thriller',
   'rating': 4},
  {'item_id': 181,
   'movie_title': 'Return of the Jedi',
   'release_year': '1983',
   'classification': 'Action Adventure Romance Sci-Fi War',
   'rating': 4},
  {'item_id': 109,
   'movie_title': 'Mystery Science Theater 3000: The Movie',
   'release_year': '1996',
   'classification': 'Comedy Sci-Fi',
   'rating': 2},
  {'item_id': 1,
   'movie_title': 'Toy Story',
   'release_year': '1995',
   'classification': "Animation Children's Comedy",
   'rating': 5},
  {'item_id': 246,
   'movie_title': 'Chasing Amy',
   'release_year': '1997',
   'classification': 'Drama Romance',
   'rating': 4},
  {'item_id': 248,
   'movie_title': 'Grosse Pointe Blank',
   'release_year': '1997',
   'classification': 'Comedy Crime',
   'rating': 1},
  {'item_id': 257,
   'movie_title': 'Men in Black',
   'release_year': '1997',
   'classification': 'Action Adventure Comedy Sci-Fi',
   'rating': 4},
  {'item_id': 50,
   'movie_title': 'Star Wars',
   'release_year': '1977',
   'classification': 'Action Adventure Romance Sci-Fi War',
   'rating': 4},
  {'item_id': 253,
   'movie_title': 'Pillow Book, The',
   'release_year': '1995',
   'classification': 'Drama Romance',
   'rating': 5},
  {'item_id': 249,
   'movie_title': 'Austin Powers: International Man of Mystery',
   'release_year': '1997',
   'classification': 'Comedy',
   'rating': 5},
  {'item_id': 262,
   'movie_title': 'In the Company of Men',
   'release_year': '1997',
   'classification': 'Drama',
   'rating': 3},
  {'item_id': 224,
   'movie_title': 'Ridicule',
   'release_year': '1996',
   'classification': 'Drama',
   'rating': 4},
  {'item_id': 93,
   'movie_title': 'Welcome to the Dollhouse',
   'release_year': '1995',
   'classification': 'Comedy Drama',
   'rating': 4},
  {'item_id': 124,
   'movie_title': 'Lone Star',
   'release_year': '1996',
   'classification': 'Drama Mystery',
   'rating': 3},
  {'item_id': 19,
   'movie_title': "Antonia's Line",
   'release_year': '1995',
   'classification': 'Drama',
   'rating': 1},
  {'item_id': 137,
   'movie_title': 'Big Night',
   'release_year': '1996',
   'classification': 'Drama',
   'rating': 3},
  {'item_id': 123,
   'movie_title': 'Frighteners, The',
   'release_year': '1996',
   'classification': 'Comedy Horror',
   'rating': 3},
  {'item_id': 146,
   'movie_title': 'Unhook the Stars',
   'release_year': '1996',
   'classification': 'Drama',
   'rating': 3},
  {'item_id': 7,
   'movie_title': 'Twelve Monkeys',
   'release_year': '1995',
   'classification': 'Drama Sci-Fi',
   'rating': 4},
  {'item_id': 235,
   'movie_title': 'Mars Attacks!',
   'release_year': '1996',
   'classification': 'Action Comedy Sci-Fi War',
   'rating': 1},
  {'item_id': 15,
   'movie_title': "Mr. Holland's Opus",
   'release_year': '1995',
   'classification': 'Drama',
   'rating': 4},
  {'item_id': 260,
   'movie_title': 'Event Horizon',
   'release_year': '1997',
   'classification': 'Action Mystery Sci-Fi Thriller',
   'rating': 4},
  {'item_id': 264,
   'movie_title': 'Mimic',
   'release_year': '1997',
   'classification': 'Sci-Fi Thriller',
   'rating': 1},
  {'item_id': 24,
   'movie_title': 'Rumble in the Bronx',
   'release_year': '1995',
   'classification': 'Action Adventure Crime',
   'rating': 4},
  {'item_id': 245,
   'movie_title': "Devil's Own, The",
   'release_year': '1997',
   'classification': 'Action Drama Thriller War',
   'rating': 3},
  {'item_id': 126,
   'movie_title': 'Spitfire Grill, The',
   'release_year': '1996',
   'classification': 'Drama',
   'rating': 4},
  {'item_id': 237,
   'movie_title': 'Jerry Maguire',
   'release_year': '1996',
   'classification': 'Drama Romance',
   'rating': 4},
  {'item_id': 25,
   'movie_title': 'Birdcage, The',
   'release_year': '1996',
   'classification': 'Comedy',
   'rating': 4},
  {'item_id': 13,
   'movie_title': 'Mighty Aphrodite',
   'release_year': '1995',
   'classification': 'Comedy',
   'rating': 4},
  {'item_id': 121,
   'movie_title': 'Independence Day (ID4)',
   'release_year': '1996',
   'classification': 'Action Sci-Fi War',
   'rating': 3},
  {'item_id': 251,
   'movie_title': 'Shall We Dance?',
   'release_year': '1996',
   'classification': 'Comedy',
   'rating': 4},
  {'item_id': 236,
   'movie_title': 'Citizen Ruth',
   'release_year': '1996',
   'classification': 'Comedy Drama',
   'rating': 4},
  {'item_id': 240,
   'movie_title': 'Beavis and Butt-head Do America',
   'release_year': '1996',
   'classification': 'Animation Comedy',
   'rating': 2},
  {'item_id': 118,
   'movie_title': 'Twister',
   'release_year': '1996',
   'classification': 'Action Adventure Thriller',
   'rating': 5},
  {'item_id': 130,
   'movie_title': 'Kansas City',
   'release_year': '1996',
   'classification': 'Crime',
   'rating': 1},
  {'item_id': 47,
   'movie_title': 'Ed Wood',
   'release_year': '1994',
   'classification': 'Comedy Drama',
   'rating': 3},
  {'item_id': 65,
   'movie_title': "What's Eating Gilbert Grape",
   'release_year': '1993',
   'classification': 'Comedy Drama',
   'rating': 4},
  {'item_id': 190,
   'movie_title': 'Henry V',
   'release_year': '1989',
   'classification': 'Drama War',
   'rating': 4},
  {'item_id': 31,
   'movie_title': 'Crimson Tide',
   'release_year': '1995',
   'classification': 'Drama Thriller War',
   'rating': 4},
  {'item_id': 114,
   'movie_title': 'Wallace & Gromit: The Best of Aardman Animation',
   'release_year': '1996',
   'classification': 'Animation',
   'rating': 5},
  {'item_id': 39,
   'movie_title': 'Strange Days',
   'release_year': '1995',
   'classification': 'Action Crime Sci-Fi',
   'rating': 3},
  {'item_id': 28,
   'movie_title': 'Apollo 13',
   'release_year': '1995',
   'classification': 'Action Drama Thriller',
   'rating': 4},
  {'item_id': 52,
   'movie_title': 'Madness of King George, The',
   'release_year': '1994',
   'classification': 'Drama',
   'rating': 3},
  {'item_id': 238,
   'movie_title': 'Raising Arizona',
   'release_year': '1987',
   'classification': 'Comedy',
   'rating': 4},
  {'item_id': 183,
   'movie_title': 'Alien',
   'release_year': '1979',
   'classification': 'Action Horror Sci-Fi Thriller',
   'rating': 3},
  {'item_id': 69,
   'movie_title': 'Forrest Gump',
   'release_year': '1994',
   'classification': 'Comedy Romance War',
   'rating': 5},
  {'item_id': 199,
   'movie_title': 'Bridge on the River Kwai, The',
   'release_year': '1957',
   'classification': 'Drama War',
   'rating': 4},
  {'item_id': 11,
   'movie_title': 'Seven (Se7en)',
   'release_year': '1995',
   'classification': 'Crime Thriller',
   'rating': 4},
  {'item_id': 161,
   'movie_title': 'Top Gun',
   'release_year': '1986',
   'classification': 'Action Romance',
   'rating': 4},
  {'item_id': 95,
   'movie_title': 'Aladdin',
   'release_year': '1992',
   'classification': "Animation Children's Comedy Musical",
   'rating': 5},
  {'item_id': 60,
   'movie_title': 'Three Colors: Blue',
   'release_year': '1993',
   'classification': 'Drama',
   'rating': 4},
  {'item_id': 179,
   'movie_title': 'Clockwork Orange, A',
   'release_year': '1971',
   'classification': 'Sci-Fi',
   'rating': 2},
  {'item_id': 83,
   'movie_title': 'Much Ado About Nothing',
   'release_year': '1993',
   'classification': 'Comedy Romance',
   'rating': 4},
  {'item_id': 64,
   'movie_title': 'Shawshank Redemption, The',
   'release_year': '1994',
   'classification': 'Drama',
   'rating': 5},
  {'item_id': 98,
   'movie_title': 'Silence of the Lambs, The',
   'release_year': '1991',
   'classification': 'Drama Thriller',
   'rating': 5},
  {'item_id': 22,
   'movie_title': 'Braveheart',
   'release_year': '1995',
   'classification': 'Action Drama War',
   'rating': 4},
  {'item_id': 135,
   'movie_title': '2001: A Space Odyssey',
   'release_year': '1968',
   'classification': 'Drama Mystery Sci-Fi Thriller',
   'rating': 3},
  {'item_id': 202,
   'movie_title': 'Groundhog Day',
   'release_year': '1993',
   'classification': 'Comedy Romance',
   'rating': 2},
  {'item_id': 163,
   'movie_title': 'Return of the Pink Panther, The',
   'release_year': '1974',
   'classification': 'Comedy',
   'rating': 4},
  {'item_id': 26,
   'movie_title': 'Brothers McMullen, The',
   'release_year': '1995',
   'classification': 'Comedy',
   'rating': 4},
  {'item_id': 89,
   'movie_title': 'Blade Runner',
   'release_year': '1982',
   'classification': 'Film-Noir Sci-Fi',
   'rating': 4},
  {'item_id': 8,
   'movie_title': 'Babe',
   'release_year': '1995',
   'classification': "Children's Comedy Drama",
   'rating': 5},
  {'item_id': 214,
   'movie_title': 'Pink Floyd - The Wall',
   'release_year': '1982',
   'classification': 'Drama Musical War',
   'rating': 3},
  {'item_id': 182,
   'movie_title': 'GoodFellas',
   'release_year': '1990',
   'classification': 'Crime Drama',
   'rating': 5},
  {'item_id': 48,
   'movie_title': 'Hoop Dreams',
   'release_year': '1994',
   'classification': 'Documentary',
   'rating': 5},
  {'item_id': 160,
   'movie_title': 'Glengarry Glen Ross',
   'release_year': '1992',
   'classification': 'Drama',
   'rating': 3},
  {'item_id': 175,
   'movie_title': 'Brazil',
   'release_year': '1985',
   'classification': 'Sci-Fi',
   'rating': 4},
  {'item_id': 99,
   'movie_title': 'Snow White and the Seven Dwarfs',
   'release_year': '1937',
   'classification': "Animation Children's Musical",
   'rating': 5},
  {'item_id': 192,
   'movie_title': 'Raging Bull',
   'release_year': '1980',
   'classification': 'Drama',
   'rating': 4},
  {'item_id': 128,
   'movie_title': 'Supercop',
   'release_year': '1992',
   'classification': 'Action Thriller',
   'rating': 1},
  {'item_id': 180,
   'movie_title': 'Apocalypse Now',
   'release_year': '1979',
   'classification': 'Drama War',
   'rating': 5},
  {'item_id': 185,
   'movie_title': 'Psycho',
   'release_year': '1960',
   'classification': 'Horror Romance Thriller',
   'rating': 2},
  {'item_id': 143,
   'movie_title': 'Sound of Music, The',
   'release_year': '1965',
   'classification': 'Musical',
   'rating': 2},
  {'item_id': 68,
   'movie_title': 'Crow, The',
   'release_year': '1994',
   'classification': 'Action Romance Thriller',
   'rating': 4},
  {'item_id': 55,
   'movie_title': 'Professional, The',
   'release_year': '1994',
   'classification': 'Crime Drama Romance Thriller',
   'rating': 5},
  {'item_id': 204,
   'movie_title': 'Back to the Future',
   'release_year': '1985',
   'classification': 'Comedy Sci-Fi',
   'rating': 3},
  {'item_id': 56,
   'movie_title': 'Pulp Fiction',
   'release_year': '1994',
   'classification': 'Crime Drama',
   'rating': 5},
  {'item_id': 96,
   'movie_title': 'Terminator 2: Judgment Day',
   'release_year': '1991',
   'classification': 'Action Sci-Fi Thriller',
   'rating': 4},
  {'item_id': 81,
   'movie_title': 'Hudsucker Proxy, The',
   'release_year': '1994',
   'classification': 'Comedy Romance',
   'rating': 5},
  {'item_id': 151,
   'movie_title': 'Willy Wonka and the Chocolate Factory',
   'release_year': '1971',
   'classification': "Adventure Children's Comedy",
   'rating': 4},
  {'item_id': 79,
   'movie_title': 'Fugitive, The',
   'release_year': '1993',
   'classification': 'Action Thriller',
   'rating': 5},
  {'item_id': 70,
   'movie_title': 'Four Weddings and a Funeral',
   'release_year': '1994',
   'classification': 'Comedy Romance',
   'rating': 3},
  {'item_id': 212,
   'movie_title': 'Unbearable Lightness of Being, The',
   'release_year': '1988',
   'classification': 'Drama',
   'rating': 4},
  {'item_id': 23,
   'movie_title': 'Taxi Driver',
   'release_year': '1976',
   'classification': 'Drama Thriller',
   'rating': 4},
  {'item_id': 84,
   'movie_title': "Robert A. Heinlein's The Puppet Masters",
   'release_year': '1994',
   'classification': 'Horror Sci-Fi',
   'rating': 4},
  {'item_id': 184,
   'movie_title': 'Army of Darkness',
   'release_year': '1993',
   'classification': 'Action Adventure Comedy Horror Sci-Fi',
   'rating': 5},
  {'item_id': 197,
   'movie_title': 'Graduate, The',
   'release_year': '1967',
   'classification': 'Drama Romance',
   'rating': 5},
  {'item_id': 191,
   'movie_title': 'Amadeus',
   'release_year': '1984',
   'classification': 'Drama Mystery',
   'rating': 4},
  {'item_id': 94,
   'movie_title': 'Home Alone',
   'release_year': '1990',
   'classification': "Children's Comedy",
   'rating': 4},
  {'item_id': 134,
   'movie_title': 'Citizen Kane',
   'release_year': '1941',
   'classification': 'Drama',
   'rating': 4},
  {'item_id': 145,
   'movie_title': 'Lawnmower Man, The',
   'release_year': '1992',
   'classification': 'Action Sci-Fi Thriller',
   'rating': 3},
  {'item_id': 207,
   'movie_title': 'Cyrano de Bergerac',
   'release_year': '1990',
   'classification': 'Action Drama Romance',
   'rating': 3},
  {'item_id': 186,
   'movie_title': 'Blues Brothers, The',
   'release_year': '1980',
   'classification': 'Action Comedy Musical',
   'rating': 5},
  {'item_id': 97,
   'movie_title': 'Dances with Wolves',
   'release_year': '1990',
   'classification': 'Adventure Drama Western',
   'rating': 2},
  {'item_id': 188,
   'movie_title': 'Full Metal Jacket',
   'release_year': '1987',
   'classification': 'Action Drama War',
   'rating': 4},
  {'item_id': 159,
   'movie_title': 'Basic Instinct',
   'release_year': '1992',
   'classification': 'Mystery Thriller',
   'rating': 3},
  {'item_id': 85,
   'movie_title': 'Ref, The',
   'release_year': '1994',
   'classification': 'Comedy',
   'rating': 2},
  {'item_id': 36,
   'movie_title': 'Mad Love',
   'release_year': '1995',
   'classification': 'Drama Romance',
   'rating': 2},
  {'item_id': 144,
   'movie_title': 'Die Hard',
   'release_year': '1988',
   'classification': 'Action Thriller',
   'rating': 4},
  {'item_id': 17,
   'movie_title': 'From Dusk Till Dawn',
   'release_year': '1996',
   'classification': 'Action Comedy Crime Horror Thriller',
   'rating': 4},
  {'item_id': 174,
   'movie_title': 'Raiders of the Lost Ark',
   'release_year': '1981',
   'classification': 'Action Adventure',
   'rating': 4},
  {'item_id': 252,
   'movie_title': 'Lost World: Jurassic Park, The',
   'release_year': '1997',
   'classification': 'Action Adventure Sci-Fi Thriller',
   'rating': 3},
  {'item_id': 105,
   'movie_title': 'Sgt. Bilko',
   'release_year': '1996',
   'classification': 'Comedy',
   'rating': 1},
  {'item_id': 148,
   'movie_title': 'Ghost and the Darkness, The',
   'release_year': '1996',
   'classification': 'Action Adventure',
   'rating': 3},
  {'item_id': 108,
   'movie_title': 'Kids in the Hall: Brain Candy',
   'release_year': '1996',
   'classification': 'Comedy',
   'rating': 4},
  {'item_id': 147,
   'movie_title': 'Long Kiss Goodnight, The',
   'release_year': '1996',
   'classification': 'Action Thriller',
   'rating': 4},
  {'item_id': 243,
   'movie_title': 'Jungle2Jungle',
   'release_year': '1997',
   'classification': "Children's Comedy",
   'rating': 4},
  {'item_id': 220,
   'movie_title': 'Mirror Has Two Faces, The',
   'release_year': '1996',
   'classification': 'Comedy Romance',
   'rating': 5},
  {'item_id': 106,
   'movie_title': 'Diabolique',
   'release_year': '1996',
   'classification': 'Drama Thriller',
   'rating': 3},
  {'item_id': 122,
   'movie_title': 'Cable Guy, The',
   'release_year': '1996',
   'classification': 'Comedy',
   'rating': 1},
  {'item_id': 104,
   'movie_title': 'Theodore Rex',
   'release_year': '1995',
   'classification': 'Comedy',
   'rating': 3},
  {'item_id': 107,
   'movie_title': 'Moll Flanders',
   'release_year': '1996',
   'classification': 'Drama',
   'rating': 3},
  {'item_id': 247,
   'movie_title': 'Turbo: A Power Rangers Movie',
   'release_year': '1997',
   'classification': "Action Adventure Children's",
   'rating': 1},
  {'item_id': 120,
   'movie_title': 'Striptease',
   'release_year': '1996',
   'classification': 'Comedy Crime',
   'rating': 3},
  {'item_id': 45,
   'movie_title': 'Eat Drink Man Woman',
   'release_year': '1994',
   'classification': 'Comedy Drama',
   'rating': 5},
  {'item_id': 268,
   'movie_title': 'Chasing Amy',
   'release_year': '1997',
   'classification': 'Drama Romance',
   'rating': 1},
  {'item_id': 267,
   'movie_title': 'unkonwn',
   'release_year': 'unkonwn',
   'classification': 'unknown',
   'rating': 1},
  {'item_id': 259,
   'movie_title': 'George of the Jungle',
   'release_year': '1997',
   'classification': "Children's Comedy",
   'rating': 4},
  {'item_id': 261,
   'movie_title': 'Air Bud',
   'release_year': '1997',
   'classification': "Children's Comedy",
   'rating': 4},
  {'item_id': 263,
   'movie_title': 'Steel',
   'release_year': '1997',
   'classification': 'Action',
   'rating': 3},
  {'item_id': 10,
   'movie_title': 'Richard III',
   'release_year': '1995',
   'classification': 'Drama War',
   'rating': 4},
  {'item_id': 150,
   'movie_title': 'Swingers',
   'release_year': '1996',
   'classification': 'Comedy Drama',
   'rating': 3},
  {'item_id': 234,
   'movie_title': 'Jaws',
   'release_year': '1975',
   'classification': 'Action Horror',
   'rating': 3},
  {'item_id': 92,
   'movie_title': 'True Romance',
   'release_year': '1993',
   'classification': 'Action Crime Romance',
   'rating': 5},
  {'item_id': 71,
   'movie_title': 'Lion King, The',
   'release_year': '1994',
   'classification': "Animation Children's Musical",
   'rating': 5},
  {'item_id': 42,
   'movie_title': 'Clerks',
   'release_year': '1994',
   'classification': 'Comedy',
   'rating': 5},
  {'item_id': 176,
   'movie_title': 'Aliens',
   'release_year': '1986',
   'classification': 'Action Sci-Fi Thriller War',
   'rating': 4},
  {'item_id': 91,
   'movie_title': 'Nightmare Before Christmas, The',
   'release_year': '1993',
   'classification': "Children's Comedy Musical",
   'rating': 4},
  {'item_id': 193,
   'movie_title': 'Right Stuff, The',
   'release_year': '1983',
   'classification': 'Drama',
   'rating': 4},
  {'item_id': 217,
   'movie_title': "Bram Stoker's Dracula",
   'release_year': '1992',
   'classification': 'Horror Romance',
   'rating': 3},
  {'item_id': 177,
   'movie_title': 'Good, The Bad and The Ugly, The',
   'release_year': '1966',
   'classification': 'Action Western',
   'rating': 3},

In [15]:
def cal_label(rating):
    return "Yes" if rating > threshold else "No"
    
inter_temp = '''Below is an instruction that describes a task, paired with an input that provides further context. Write a response that appropriately completes the request.  # noqa: E501

### Instruction:
Predict the user's rating for the target movie based on their basic information and historical ratings. Returns only whether the result is greater than {threshold}. For example Yes or No.

### Input:
User Information:
{user_information}

History Ratings:
{history_ratings}

Target Movie:
{target_movie}

### Response:
{label}'''

max_length = 50
threshold = 3

def build_prompt(row,data_type):
    user = user_data[user_data['user_id:token'] == row['user_id:token']]['info'].iloc[0]
    items = [build_item(i,r) for i,r in zip(row['item_id:token'],row['rating:float'])]
    
    length = max_length
    if len(items)<max_length:
        length = len(items)
    
    user_information_json = user
    history_ratings_json = items[:(length-3)]
    train_target_movie_json = items[length-3]
    valid_target_movie_json = items[length-2]
    test_target_movie_json = items[length-1]

    train_label = train_target_movie_json.pop("rating")
    valid_label = valid_target_movie_json.pop("rating")
    test_label = test_target_movie_json.pop("rating")

    temp = inter_temp.replace('{threshold}',str(threshold)).replace('{user_information}',json.dumps(user)).replace('{history_ratings}',json.dumps(history_ratings_json))
    train_val = temp.replace('{target_movie}',json.dumps(train_target_movie_json)).replace('{label}','Yes' if train_label>threshold else 'No')
    valid_val = temp.replace('{target_movie}',json.dumps(valid_target_movie_json)).replace('{label}','Yes' if valid_label>threshold else 'No')
    test_val = temp.replace('{target_movie}',json.dumps(test_target_movie_json)).replace('{label}','Yes' if test_label>threshold else 'No')

    if data_type=='train':
        val = {'prompt': train_val, 'label': train_label}
    elif data_type=='valid':
        val = {'prompt': valid_val, 'label': valid_label}
    elif data_type=='test':
        val = {'prompt': test_val, 'label': test_label}
    
    return val

In [16]:
# v0.1
def cal_label(rating):
    return "1" if rating > threshold else "0"
    
inter_temp = '''Predict the user's rating for the target movie based on their basic information and historical ratings. Returns only whether the result is greater than {threshold}. For example 1 or 0. # noqa: E501

User Information:
{user_information}

Target Movie:
{target_movie}

History Ratings:
{history_ratings}
'''

max_length = 50
threshold = 3

def build_prompt(row):
    user = user_data[user_data['user_id:token'] == row['user_id:token']]['info'].iloc[0]
    items = [build_item(i,r) for i,r in zip(row['item_id:token'],row['rating:float'])]
    
    length = max_length
    if len(items)<max_length:
        length = len(items)
    
    user_information_json = user
    history_ratings_json = items[:(length-3)]
    train_target_movie_json = items[length-3]
    valid_target_movie_json = items[length-2]
    test_target_movie_json = items[length-1]

    train_label = train_target_movie_json.pop("rating")
    valid_label = valid_target_movie_json.pop("rating")
    test_label = test_target_movie_json.pop("rating")

    temp = inter_temp.replace('{threshold}',str(threshold)).replace('{user_information}',json.dumps(user)).replace('{history_ratings}',json.dumps(history_ratings_json))
    train_val = temp.replace('{target_movie}',json.dumps(train_target_movie_json))
    valid_val = temp.replace('{target_movie}',json.dumps(valid_target_movie_json))
    test_val = temp.replace('{target_movie}',json.dumps(test_target_movie_json))

    info = {}
    info['train'] = {'prompt': train_val, 'label': cal_label(train_label)}
    info['valid'] = {'prompt': valid_val, 'label': cal_label(valid_label)}
    info['test'] = {'prompt': test_val, 'label': cal_label(test_label)}
    
    return info

In [15]:
# v0.2
def cal_label(rating):
    return "Yes" if rating > threshold else "No"
    
inter_temp = '''Predict the user's rating for the target movie based on their basic information and historical ratings. Returns only whether the result is greater than {threshold}. For example Yes or No. # noqa: E501

User Information:
{user_information}

Target Movie:
{target_movie}

History Ratings:
{history_ratings}
'''

max_length = 50
threshold = 3

def build_prompt(row):
    user = user_data[user_data['user_id:token'] == row['user_id:token']]['info'].iloc[0]
    items = [build_item(i,r) for i,r in zip(row['item_id:token'],row['rating:float'])]
    
    length = max_length
    if len(items)<max_length:
        length = len(items)
    
    user_information_json = user
    history_ratings_json = items[:(length-3)]
    train_target_movie_json = items[length-3]
    valid_target_movie_json = items[length-2]
    test_target_movie_json = items[length-1]

    train_label = train_target_movie_json.pop("rating")
    valid_label = valid_target_movie_json.pop("rating")
    test_label = test_target_movie_json.pop("rating")

    temp = inter_temp.replace('{threshold}',str(threshold)).replace('{user_information}',json.dumps(user)).replace('{history_ratings}',json.dumps(history_ratings_json))
    train_val = temp.replace('{target_movie}',json.dumps(train_target_movie_json))
    valid_val = temp.replace('{target_movie}',json.dumps(valid_target_movie_json))
    test_val = temp.replace('{target_movie}',json.dumps(test_target_movie_json))

    info = {}
    info['train'] = {'instruction': train_val, 'input': '', 'output': cal_label(train_label)}
    info['valid'] = {'instruction': valid_val, 'input': '', 'output': cal_label(valid_label)}
    info['test'] = {'instruction': test_val, 'output': cal_label(test_label)}
    
    return info

In [ ]:
# v0.3
def cal_label(rating):
    return "Yes" if rating > threshold else "No"
    
inter_temp = '''Based on the user's basic information and historical information, predict whether the user likes the target movie or not. Returns only whether the result is like Yes or No. # noqa: E501

User Information:
{user_information}

Target Movie:
{target_movie}

Historical Information:
{history_ratings}
'''

max_length = 50
threshold = 3

def build_prompt(row):
    user = user_data[user_data['user_id:token'] == row['user_id:token']]['info'].iloc[0]
    items = [build_item(i,r) for i,r in zip(row['item_id:token'],row['rating:float'])]
    
    length = max_length
    if len(items)<max_length:
        length = len(items)
    
    user_information_json = user
    history_ratings_json = items[:(length-3)]
    train_target_movie_json = items[length-3]
    valid_target_movie_json = items[length-2]
    test_target_movie_json = items[length-1]

    train_label = train_target_movie_json.pop("rating")
    valid_label = valid_target_movie_json.pop("rating")
    test_label = test_target_movie_json.pop("rating")

    temp = inter_temp.replace('{threshold}',str(threshold)).replace('{user_information}',json.dumps(user)).replace('{history_ratings}',json.dumps(history_ratings_json))
    train_val = temp.replace('{target_movie}',json.dumps(train_target_movie_json))
    valid_val = temp.replace('{target_movie}',json.dumps(valid_target_movie_json))
    test_val = temp.replace('{target_movie}',json.dumps(test_target_movie_json))

    info = {}
    info['train'] = {'instruction': train_val, 'input': '', 'output': cal_label(train_label)}
    info['valid'] = {'instruction': valid_val, 'input': '', 'output': cal_label(valid_label)}
    info['test'] = {'instruction': test_val, 'output': cal_label(test_label)}
    
    return info

In [16]:
# 拼接inter信息, json
inter_data['info'] = inter_data.apply(lambda row: build_prompt(row), axis=1)
inter_data['train'] = inter_data.apply(lambda row: row['info']['train'], axis=1)
inter_data['valid'] = inter_data.apply(lambda row: row['info']['valid'], axis=1)
inter_data['test'] = inter_data.apply(lambda row: row['info']['test'], axis=1)

inter_data['train'].iloc[0],inter_data['valid'].iloc[0],inter_data['test'].iloc[0]

({'instruction': 'Predict the user\'s rating for the target movie based on their basic information and historical ratings. Returns only whether the result is greater than 3. For example Yes or No. # noqa: E501\n\nUser Information:\n{"user_id": 1, "age": 24, "gender": "male", "occupation": "M", "zip_code": "85711"}\n\nTarget Movie:\n{"item_id": 190, "movie_title": "Henry V", "release_year": "1989", "classification": "Drama War"}\n\nHistory Ratings:\n[{"item_id": 168, "movie_title": "Monty Python and the Holy Grail", "release_year": "1974", "classification": "Comedy", "rating": 5}, {"item_id": 172, "movie_title": "Empire Strikes Back, The", "release_year": "1980", "classification": "Action Adventure Drama Romance Sci-Fi War", "rating": 5}, {"item_id": 165, "movie_title": "Jean de Florette", "release_year": "1986", "classification": "Drama", "rating": 5}, {"item_id": 156, "movie_title": "Reservoir Dogs", "release_year": "1992", "classification": "Crime Thriller", "rating": 4}, {"item_id": 196, "movie_title": "Dead Poets Society", "release_year": "1989", "classification": "Drama", "rating": 5}, {"item_id": 166, "movie_title": "Manon of the Spring (Manon des sources)", "release_year": "1986", "classification": "Drama", "rating": 5}, {"item_id": 187, "movie_title": "Godfather: Part II, The", "release_year": "1974", "classification": "Action Crime Drama", "rating": 4}, {"item_id": 14, "movie_title": "Postino, Il", "release_year": "1994", "classification": "Drama Romance", "rating": 5}, {"item_id": 250, "movie_title": "Fifth Element, The", "release_year": "1997", "classification": "Action Sci-Fi", "rating": 4}, {"item_id": 127, "movie_title": "Godfather, The", "release_year": "1972", "classification": "Action Crime Drama", "rating": 5}, {"item_id": 117, "movie_title": "Rock, The", "release_year": "1996", "classification": "Action Adventure Thriller", "rating": 3}, {"item_id": 181, "movie_title": "Return of the Jedi", "release_year": "1983", "classification": "Action Adventure Romance Sci-Fi War", "rating": 5}, {"item_id": 109, "movie_title": "Mystery Science Theater 3000: The Movie", "release_year": "1996", "classification": "Comedy Sci-Fi", "rating": 5}, {"item_id": 1, "movie_title": "Toy Story", "release_year": "1995", "classification": "Animation Children\'s Comedy", "rating": 5}, {"item_id": 246, "movie_title": "Chasing Amy", "release_year": "1997", "classification": "Drama Romance", "rating": 5}, {"item_id": 248, "movie_title": "Grosse Pointe Blank", "release_year": "1997", "classification": "Comedy Crime", "rating": 4}, {"item_id": 257, "movie_title": "Men in Black", "release_year": "1997", "classification": "Action Adventure Comedy Sci-Fi", "rating": 4}, {"item_id": 50, "movie_title": "Star Wars", "release_year": "1977", "classification": "Action Adventure Romance Sci-Fi War", "rating": 5}, {"item_id": 253, "movie_title": "Pillow Book, The", "release_year": "1995", "classification": "Drama Romance", "rating": 5}, {"item_id": 249, "movie_title": "Austin Powers: International Man of Mystery", "release_year": "1997", "classification": "Comedy", "rating": 4}, {"item_id": 262, "movie_title": "In the Company of Men", "release_year": "1997", "classification": "Drama", "rating": 3}, {"item_id": 224, "movie_title": "Ridicule", "release_year": "1996", "classification": "Drama", "rating": 5}, {"item_id": 93, "movie_title": "Welcome to the Dollhouse", "release_year": "1995", "classification": "Comedy Drama", "rating": 5}, {"item_id": 124, "movie_title": "Lone Star", "release_year": "1996", "classification": "Drama Mystery", "rating": 5}, {"item_id": 19, "movie_title": "Antonia\'s Line", "release_year": "1995", "classification": "Drama", "rating": 5}, {"item_id": 137, "movie_title": "Big Night", "release_year": "1996", "classification": "Drama", "rating": 5}, {"item_id": 123, "movie_title": "Frighteners, The", "release_year": "1996", "classification": "Comedy Horror", "rating": 4}, {"item_id": 146, "movie_title": "Unhook the Stars", "release_year": "1996", "classification": "Drama", "rating": 4}, {"item_id": 7, "movie_title": "Twelve Monkeys", "release_year": "1995", "classification": "Drama Sci-Fi", "rating": 4}, {"item_id": 235, "movie_title": "Mars Attacks!", "release_year": "1996", "classification": "Action Comedy Sci-Fi War", "rating": 5}, {"item_id": 15, "movie_title": "Mr. Holland\'s Opus", "release_year": "1995", "classification": "Drama", "rating": 5}, {"item_id": 260, "movie_title": "Event Horizon", "release_year": "1997", "classification": "Action Mystery Sci-Fi Thriller", "rating": 1}, {"item_id": 264, "movie_title": "Mimic", "release_year": "1997", "classification": "Sci-Fi Thriller", "rating": 2}, {"item_id": 24, "movie_title": "Rumble in the Bronx", "release_year": "1995", "classification": "Action Adventure Crime", "rating": 3}, {"item_id": 245, "movie_title": "Devil\'s Own, The", "release_year": "1997", "classification": "Action Drama Thriller War", "rating": 2}, {"item_id": 126, "movie_title": "Spitfire Grill, The", "release_year": "1996", "classification": "Drama", "rating": 2}, {"item_id": 237, "movie_title": "Jerry Maguire", "release_year": "1996", "classification": "Drama Romance", "rating": 2}, {"item_id": 25, "movie_title": "Birdcage, The", "release_year": "1996", "classification": "Comedy", "rating": 4}, {"item_id": 13, "movie_title": "Mighty Aphrodite", "release_year": "1995", "classification": "Comedy", "rating": 5}, {"item_id": 121, "movie_title": "Independence Day (ID4)", "release_year": "1996", "classification": "Action Sci-Fi War", "rating": 4}, {"item_id": 251, "movie_title": "Shall We Dance?", "release_year": "1996", "classification": "Comedy", "rating": 4}, {"item_id": 236, "movie_title": "Citizen Ruth", "release_year": "1996", "classification": "Comedy Drama", "rating": 4}, {"item_id": 240, "movie_title": "Beavis and Butt-head Do America", "release_year": "1996", "classification": "Animation Comedy", "rating": 3}, {"item_id": 118, "movie_title": "Twister", "release_year": "1996", "classification": "Action Adventure Thriller", "rating": 3}, {"item_id": 130, "movie_title": "Kansas City", "release_year": "1996", "classification": "Crime", "rating": 3}, {"item_id": 47, "movie_title": "Ed Wood", "release_year": "1994", "classification": "Comedy Drama", "rating": 4}, {"item_id": 65, "movie_title": "What\'s Eating Gilbert Grape", "release_year": "1993", "classification": "Comedy Drama", "rating": 4}]\n',
  'input': '',
  'output': 'Yes'},
 {'instruction': 'Predict the user\'s rating for the target movie based on their basic information and historical ratings. Returns only whether the result is greater than 3. For example Yes or No. # noqa: E501\n\nUser Information:\n{"user_id": 1, "age": 24, "gender": "male", "occupation": "M", "zip_code": "85711"}\n\nTarget Movie:\n{"item_id": 31, "movie_title": "Crimson Tide", "release_year": "1995", "classification": "Drama Thriller War"}\n\nHistory Ratings:\n[{"item_id": 168, "movie_title": "Monty Python and the Holy Grail", "release_year": "1974", "classification": "Comedy", "rating": 5}, {"item_id": 172, "movie_title": "Empire Strikes Back, The", "release_year": "1980", "classification": "Action Adventure Drama Romance Sci-Fi War", "rating": 5}, {"item_id": 165, "movie_title": "Jean de Florette", "release_year": "1986", "classification": "Drama", "rating": 5}, {"item_id": 156, "movie_title": "Reservoir Dogs", "release_year": "1992", "classification": "Crime Thriller", "rating": 4}, {"item_id": 196, "movie_title": "Dead Poets Society", "release_year": "1989", "classification": "Drama", "rating": 5}, {"item_id": 166, "movie_title": "Manon of the Spring (Manon des sources)", "release_year": "1986", "classification": "Drama", "rating": 5}, {"item_id": 187, "movie_title": "Godfather: Part II, The", "release_year": "1974", "classification": "Action Crime Drama", "rating": 4}, {"item_id": 14, "movie_title": "Postino, Il", "release_year": "1994", "classification": "Drama Romance", "rating": 5}, {"item_id": 250, "movie_title": "Fifth Element, The", "release_year": "1997", "classification": "Action Sci-Fi", "rating": 4}, {"item_id": 127, "movie_title": "Godfather, The", "release_year": "1972", "classification": "Action Crime Drama", "rating": 5}, {"item_id": 117, "movie_title": "Rock, The", "release_year": "1996", "classification": "Action Adventure Thriller", "rating": 3}, {"item_id": 181, "movie_title": "Return of the Jedi", "release_year": "1983", "classification": "Action Adventure Romance Sci-Fi War", "rating": 5}, {"item_id": 109, "movie_title": "Mystery Science Theater 3000: The Movie", "release_year": "1996", "classification": "Comedy Sci-Fi", "rating": 5}, {"item_id": 1, "movie_title": "Toy Story", "release_year": "1995", "classification": "Animation Children\'s Comedy", "rating": 5}, {"item_id": 246, "movie_title": "Chasing Amy", "release_year": "1997", "classification": "Drama Romance", "rating": 5}, {"item_id": 248, "movie_title": "Grosse Pointe Blank", "release_year": "1997", "classification": "Comedy Crime", "rating": 4}, {"item_id": 257, "movie_title": "Men in Black", "release_year": "1997", "classification": "Action Adventure Comedy Sci-Fi", "rating": 4}, {"item_id": 50, "movie_title": "Star Wars", "release_year": "1977", "classification": "Action Adventure Romance Sci-Fi War", "rating": 5}, {"item_id": 253, "movie_title": "Pillow Book, The", "release_year": "1995", "classification": "Drama Romance", "rating": 5}, {"item_id": 249, "movie_title": "Austin Powers: International Man of Mystery", "release_year": "1997", "classification": "Comedy", "rating": 4}, {"item_id": 262, "movie_title": "In the Company of Men", "release_year": "1997", "classification": "Drama", "rating": 3}, {"item_id": 224, "movie_title": "Ridicule", "release_year": "1996", "classification": "Drama", "rating": 5}, {"item_id": 93, "movie_title": "Welcome to the Dollhouse", "release_year": "1995", "classification": "Comedy Drama", "rating": 5}, {"item_id": 124, "movie_title": "Lone Star", "release_year": "1996", "classification": "Drama Mystery", "rating": 5}, {"item_id": 19, "movie_title": "Antonia\'s Line", "release_year": "1995", "classification": "Drama", "rating": 5}, {"item_id": 137, "movie_title": "Big Night", "release_year": "1996", "classification": "Drama", "rating": 5}, {"item_id": 123, "movie_title": "Frighteners, The", "release_year": "1996", "classification": "Comedy Horror", "rating": 4}, {"item_id": 146, "movie_title": "Unhook the Stars", "release_year": "1996", "classification": "Drama", "rating": 4}, {"item_id": 7, "movie_title": "Twelve Monkeys", "release_year": "1995", "classification": "Drama Sci-Fi", "rating": 4}, {"item_id": 235, "movie_title": "Mars Attacks!", "release_year": "1996", "classification": "Action Comedy Sci-Fi War", "rating": 5}, {"item_id": 15, "movie_title": "Mr. Holland\'s Opus", "release_year": "1995", "classification": "Drama", "rating": 5}, {"item_id": 260, "movie_title": "Event Horizon", "release_year": "1997", "classification": "Action Mystery Sci-Fi Thriller", "rating": 1}, {"item_id": 264, "movie_title": "Mimic", "release_year": "1997", "classification": "Sci-Fi Thriller", "rating": 2}, {"item_id": 24, "movie_title": "Rumble in the Bronx", "release_year": "1995", "classification": "Action Adventure Crime", "rating": 3}, {"item_id": 245, "movie_title": "Devil\'s Own, The", "release_year": "1997", "classification": "Action Drama Thriller War", "rating": 2}, {"item_id": 126, "movie_title": "Spitfire Grill, The", "release_year": "1996", "classification": "Drama", "rating": 2}, {"item_id": 237, "movie_title": "Jerry Maguire", "release_year": "1996", "classification": "Drama Romance", "rating": 2}, {"item_id": 25, "movie_title": "Birdcage, The", "release_year": "1996", "classification": "Comedy", "rating": 4}, {"item_id": 13, "movie_title": "Mighty Aphrodite", "release_year": "1995", "classification": "Comedy", "rating": 5}, {"item_id": 121, "movie_title": "Independence Day (ID4)", "release_year": "1996", "classification": "Action Sci-Fi War", "rating": 4}, {"item_id": 251, "movie_title": "Shall We Dance?", "release_year": "1996", "classification": "Comedy", "rating": 4}, {"item_id": 236, "movie_title": "Citizen Ruth", "release_year": "1996", "classification": "Comedy Drama", "rating": 4}, {"item_id": 240, "movie_title": "Beavis and Butt-head Do America", "release_year": "1996", "classification": "Animation Comedy", "rating": 3}, {"item_id": 118, "movie_title": "Twister", "release_year": "1996", "classification": "Action Adventure Thriller", "rating": 3}, {"item_id": 130, "movie_title": "Kansas City", "release_year": "1996", "classification": "Crime", "rating": 3}, {"item_id": 47, "movie_title": "Ed Wood", "release_year": "1994", "classification": "Comedy Drama", "rating": 4}, {"item_id": 65, "movie_title": "What\'s Eating Gilbert Grape", "release_year": "1993", "classification": "Comedy Drama", "rating": 4}]\n',
  'input': '',
  'output': 'No'},
 {'instruction': 'Predict the user\'s rating for the target movie based on their basic information and historical ratings. Returns only whether the result is greater than 3. For example Yes or No. # noqa: E501\n\nUser Information:\n{"user_id": 1, "age": 24, "gender": "male", "occupation": "M", "zip_code": "85711"}\n\nTarget Movie:\n{"item_id": 114, "movie_title": "Wallace & Gromit: The Best of Aardman Animation", "release_year": "1996", "classification": "Animation"}\n\nHistory Ratings:\n[{"item_id": 168, "movie_title": "Monty Python and the Holy Grail", "release_year": "1974", "classification": "Comedy", "rating": 5}, {"item_id": 172, "movie_title": "Empire Strikes Back, The", "release_year": "1980", "classification": "Action Adventure Drama Romance Sci-Fi War", "rating": 5}, {"item_id": 165, "movie_title": "Jean de Florette", "release_year": "1986", "classification": "Drama", "rating": 5}, {"item_id": 156, "movie_title": "Reservoir Dogs", "release_year": "1992", "classification": "Crime Thriller", "rating": 4}, {"item_id": 196, "movie_title": "Dead Poets Society", "release_year": "1989", "classification": "Drama", "rating": 5}, {"item_id": 166, "movie_title": "Manon of the Spring (Manon des sources)", "release_year": "1986", "classification": "Drama", "rating": 5}, {"item_id": 187, "movie_title": "Godfather: Part II, The", "release_year": "1974", "classification": "Action Crime Drama", "rating": 4}, {"item_id": 14, "movie_title": "Postino, Il", "release_year": "1994", "classification": "Drama Romance", "rating": 5}, {"item_id": 250, "movie_title": "Fifth Element, The", "release_year": "1997", "classification": "Action Sci-Fi", "rating": 4}, {"item_id": 127, "movie_title": "Godfather, The", "release_year": "1972", "classification": "Action Crime Drama", "rating": 5}, {"item_id": 117, "movie_title": "Rock, The", "release_year": "1996", "classification": "Action Adventure Thriller", "rating": 3}, {"item_id": 181, "movie_title": "Return of the Jedi", "release_year": "1983", "classification": "Action Adventure Romance Sci-Fi War", "rating": 5}, {"item_id": 109, "movie_title": "Mystery Science Theater 3000: The Movie", "release_year": "1996", "classification": "Comedy Sci-Fi", "rating": 5}, {"item_id": 1, "movie_title": "Toy Story", "release_year": "1995", "classification": "Animation Children\'s Comedy", "rating": 5}, {"item_id": 246, "movie_title": "Chasing Amy", "release_year": "1997", "classification": "Drama Romance", "rating": 5}, {"item_id": 248, "movie_title": "Grosse Pointe Blank", "release_year": "1997", "classification": "Comedy Crime", "rating": 4}, {"item_id": 257, "movie_title": "Men in Black", "release_year": "1997", "classification": "Action Adventure Comedy Sci-Fi", "rating": 4}, {"item_id": 50, "movie_title": "Star Wars", "release_year": "1977", "classification": "Action Adventure Romance Sci-Fi War", "rating": 5}, {"item_id": 253, "movie_title": "Pillow Book, The", "release_year": "1995", "classification": "Drama Romance", "rating": 5}, {"item_id": 249, "movie_title": "Austin Powers: International Man of Mystery", "release_year": "1997", "classification": "Comedy", "rating": 4}, {"item_id": 262, "movie_title": "In the Company of Men", "release_year": "1997", "classification": "Drama", "rating": 3}, {"item_id": 224, "movie_title": "Ridicule", "release_year": "1996", "classification": "Drama", "rating": 5}, {"item_id": 93, "movie_title": "Welcome to the Dollhouse", "release_year": "1995", "classification": "Comedy Drama", "rating": 5}, {"item_id": 124, "movie_title": "Lone Star", "release_year": "1996", "classification": "Drama Mystery", "rating": 5}, {"item_id": 19, "movie_title": "Antonia\'s Line", "release_year": "1995", "classification": "Drama", "rating": 5}, {"item_id": 137, "movie_title": "Big Night", "release_year": "1996", "classification": "Drama", "rating": 5}, {"item_id": 123, "movie_title": "Frighteners, The", "release_year": "1996", "classification": "Comedy Horror", "rating": 4}, {"item_id": 146, "movie_title": "Unhook the Stars", "release_year": "1996", "classification": "Drama", "rating": 4}, {"item_id": 7, "movie_title": "Twelve Monkeys", "release_year": "1995", "classification": "Drama Sci-Fi", "rating": 4}, {"item_id": 235, "movie_title": "Mars Attacks!", "release_year": "1996", "classification": "Action Comedy Sci-Fi War", "rating": 5}, {"item_id": 15, "movie_title": "Mr. Holland\'s Opus", "release_year": "1995", "classification": "Drama", "rating": 5}, {"item_id": 260, "movie_title": "Event Horizon", "release_year": "1997", "classification": "Action Mystery Sci-Fi Thriller", "rating": 1}, {"item_id": 264, "movie_title": "Mimic", "release_year": "1997", "classification": "Sci-Fi Thriller", "rating": 2}, {"item_id": 24, "movie_title": "Rumble in the Bronx", "release_year": "1995", "classification": "Action Adventure Crime", "rating": 3}, {"item_id": 245, "movie_title": "Devil\'s Own, The", "release_year": "1997", "classification": "Action Drama Thriller War", "rating": 2}, {"item_id": 126, "movie_title": "Spitfire Grill, The", "release_year": "1996", "classification": "Drama", "rating": 2}, {"item_id": 237, "movie_title": "Jerry Maguire", "release_year": "1996", "classification": "Drama Romance", "rating": 2}, {"item_id": 25, "movie_title": "Birdcage, The", "release_year": "1996", "classification": "Comedy", "rating": 4}, {"item_id": 13, "movie_title": "Mighty Aphrodite", "release_year": "1995", "classification": "Comedy", "rating": 5}, {"item_id": 121, "movie_title": "Independence Day (ID4)", "release_year": "1996", "classification": "Action Sci-Fi War", "rating": 4}, {"item_id": 251, "movie_title": "Shall We Dance?", "release_year": "1996", "classification": "Comedy", "rating": 4}, {"item_id": 236, "movie_title": "Citizen Ruth", "release_year": "1996", "classification": "Comedy Drama", "rating": 4}, {"item_id": 240, "movie_title": "Beavis and Butt-head Do America", "release_year": "1996", "classification": "Animation Comedy", "rating": 3}, {"item_id": 118, "movie_title": "Twister", "release_year": "1996", "classification": "Action Adventure Thriller", "rating": 3}, {"item_id": 130, "movie_title": "Kansas City", "release_year": "1996", "classification": "Crime", "rating": 3}, {"item_id": 47, "movie_title": "Ed Wood", "release_year": "1994", "classification": "Comedy Drama", "rating": 4}, {"item_id": 65, "movie_title": "What\'s Eating Gilbert Grape", "release_year": "1993", "classification": "Comedy Drama", "rating": 4}]\n',
  'output': 'Yes'})

In [17]:
inter_data

,user_id:token,item_id:token,rating:float,timestamp:float,info,train,valid,test
0,1,"[168, 172, 165, 156, 196, 166, 187, 14, 250, 1...","[5, 5, 5, 4, 5, 5, 4, 5, 4, 5, 3, 5, 5, 5, 5, ...","[874965478, 874965478, 874965518, 874965556, 8...",{'train': {'instruction': 'Predict the user's ...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...
1,2,"[286, 258, 305, 307, 288, 312, 301, 292, 303, ...","[4, 3, 3, 3, 3, 3, 4, 4, 4, 1, 4, 4, 4, 4, 3, ...","[888549960, 888549961, 888550065, 888550066, 8...",{'train': {'instruction': 'Predict the user's ...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...
2,3,"[300, 302, 333, 344, 268, 337, 303, 345, 354, ...","[2, 2, 2, 4, 3, 1, 3, 3, 3, 2, 2, 2, 1, 2, 2, ...","[889236939, 889236939, 889236939, 889236939, 8...",{'train': {'instruction': 'Predict the user's ...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...
3,4,"[258, 288, 300, 328, 271, 303, 329, 327, 359, ...","[5, 4, 5, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...","[892001374, 892001445, 892001445, 892001537, 8...",{'train': {'instruction': 'Predict the user's ...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...
4,5,"[267, 222, 455, 121, 363, 405, 257, 250, 25, 2...","[4, 4, 4, 4, 3, 3, 5, 3, 3, 3, 5, 5, 1, 4, 3, ...","[875635064, 875635174, 875635174, 875635189, 8...",{'train': {'instruction': 'Predict the user's ...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...
...,...,...,...,...,...,...,...,...
938,939,"[689, 326, 890, 266, 680, 258, 127, 9, 257, 27...","[5, 5, 2, 2, 2, 4, 5, 5, 5, 4, 4, 5, 5, 5, 5, ...","[880260636, 880260636, 880260636, 880260636, 8...",{'train': {'instruction': 'Predict the user's ...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...
939,940,"[286, 319, 310, 683, 301, 347, 271, 264, 315, ...","[3, 2, 3, 3, 3, 3, 2, 1, 4, 3, 3, 1, 2, 4, 5, ...","[884800898, 884800944, 884800966, 884800988, 8...",{'train': {'instruction': 'Predict the user's ...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...
940,941,"[258, 300, 294, 358, 117, 408, 181, 298, 919, ...","[4, 4, 4, 2, 5, 5, 5, 5, 5, 4, 4, 5, 4, 3, 4, ...","[875048495, 875048495, 875048532, 875048581, 8...",{'train': {'instruction': 'Predict the user's ...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...
941,942,"[315, 750, 347, 313, 269, 310, 362, 272, 258, ...","[4, 4, 5, 3, 2, 4, 3, 5, 4, 5, 4, 3, 3, 4, 5, ...","[891282355, 891282355, 891282396, 891282396, 8...",{'train': {'instruction': 'Predict the user's ...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...
942,943,"[64, 181, 28, 174, 100, 1067, 127, 508, 763, 5...","[5, 4, 4, 4, 5, 2, 5, 5, 4, 4, 2, 5, 4, 3, 3, ...","[875409939, 875409978, 875409978, 875410099, 8...",{'train': {'instruction': 'Predict the user's ...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...,{'instruction': 'Predict the user's rating for...

In [18]:
def export_json(data_type,export_path):
    # 将DataFrame导出为JSON格式
    # 将 'name' 列转换为列表
    ls = inter_data[data_type].tolist()
    
    df = pd.DataFrame(ls)
    # 导出为格式化后的 JSON 文件
    df.to_json(export_path, orient='records')

In [19]:
export_json('train',train_path)
export_json('valid',valid_path)
export_json('test',test_path)

In [20]:
# 读取 JSON 文件到 DataFrame
train_df = pd.read_json(train_path)
train_df

                                           instruction input output
0    Predict the user's rating for the target movie...          Yes
1    Predict the user's rating for the target movie...          Yes
2    Predict the user's rating for the target movie...          Yes
3    Predict the user's rating for the target movie...           No
4    Predict the user's rating for the target movie...          Yes
..                                                 ...   ...    ...
938  Predict the user's rating for the target movie...           No
939  Predict the user's rating for the target movie...           No
940  Predict the user's rating for the target movie...          Yes
941  Predict the user's rating for the target movie...          Yes
942  Predict the user's rating for the target movie...          Yes

[943 rows x 3 columns]